  <div id="multiple_url_form">
    <h3>Enter multiple, comma-separated URLs:</h3>
    <%= form_for :url, {url: analyze_multiple_path, remote: true, html: { class: "text-box" } } do |f| %>
    <%= f.text_field :name, :placeholder => "Sample name", id: 'url_sample_name'  %>
    <br>
    <br>
    <%= f.text_field :url, :placeholder => "URL" %>
    <br>
    <%= f.submit "Analyze", :class => 'twitter-submit-button' %>
    <% end %>
  </div>
