<%= link_to "Back to Home", '/' %><br>

<% if current_user == @user %>
<%= link_to "Edit Profile", edit_user_path(@user) %><br>
<% end %>

<% if logged_in? %>
<h1><%= @user.email %></h1>
<% end %>

<form action="/users/search">
	<input name="query" placeholder="search keywords">
</form>

<ul>
	<% @user.samples.each do |sample| %>

	<li><%= markup_keywords(sample).html_safe %></li>

	<% end %>
</ul>

