
<div class="logo container">
	<h1>WeAreZe</h1>
</div>

<div class="create-sample-button-wrapper">
	<div class="create-sample-button btn-default">
		<%= link_to "Get Started", new_sample_path %>
	</div>
</div>