
<div class="container">
	<h1>WeAreZe</h1>
</div>

<div class="container">
	<%= link_to "Make a new sample", new_sample_path  %>
</div>

<div class="container">
	<%= link_to "Analyze Twitter", new_tweet_path  %>
</div>