
<div class="container">
	<h1>WeAreZeeeeeee</h1>
</div>

<div class="container">
	<%= link_to "Make a new sample", new_sample_path  %>
</div>

<div class="container">
	<%= link_to "Analyze Twitter", samples_get_username_path  %>
</div>
