.logo {
	text-align: center;
}

.search-form {
  margin-top: 12px;
}

.index-info {
  text-align: center;
  padding: 25px 0;
}

.navbar-left-pos {
	width: 50%;
	margin: 0;
}

.create-sample-button-wrapper {
	width: 122px;
	margin-left: 46%; // this is problematic for size responsiveness
}


.create-sample-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 25px 0;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.create-sample-button a {
  padding: 25px 20px;
}

.create-sample-button:focus,
.create-sample-button:active:focus,
.create-sample-button.active:focus,
.create-sample-button.focus,
.create-sample-button:active.focus,
.create-sample-button.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.create-sample-button:hover a,
.create-sample-button:focus a,
.create-sample-button.focus a {
  color: #333333;
  text-decoration: none;
}
