
// adjust size of url text input
#url_url {
  width: 750px;
}

.new-sample-title {
	padding: 20px;
	text-align: center;
}

.text-box {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

.twitter-submit-button {
	margin-top: 10px;
}

#drop-form {
	text-align: center;
	font-size: 30px;
	text-color: #333333;
	padding: 0;
	height: 165px;
}

#toggle-form {
	text-align: center;
	ul {
		list-style: none;
		li {
			display: inline-block;
			padding-right: 20px;
		}
	}
}


#image_submit * {
	display: block;
	max-width: 300px;
	margin: 10px auto;
	text-align: center;
}

#sample-form-container {
	height: 230px;
}