$positive-green: #069E4B;
$negative-salmon: #EF4136;
$male-slate: #9BBEF3;
$female-fuscia: rgba(224, 143, 143, 0.48);
textarea {
  width: 50%;
  height: 100px;
}

.keyword {
  text-decoration: underline;
}

.positive {
  color: $positive-green;
}

.negative {
  color: $negative-salmon;
}

.male {
  background-color: $male-slate;
}

.female {
  background-color: $female-fuscia;
}

.highlighted-text {
  margin-bottom: 50px;
}

// split layout into side-by-side
#averages {
	width: 50%;
	float: left;
}

#number-line {
	width: 50%;
	display: inline-block;
	float: left;
	clear: left;
}

#scatter {
	position: fixed;
	width: 35%;
	display: inline-block;
	float: left;
	clear: left;
}

#highlighted-text {
	width: 50%;
	clear: right;
	float: right;
	text-align: justify;
}
