.frequency-table {
	th {
		padding-right: 200px;
	}
}

.keyword-table {
	position: relative;
    margin: 20px auto;
    border: 1px solid #CCCCCC;
	th {
		padding: 15px 50px 0;
	}

	td {
		padding: 10px 0;
	}
	td:nth-child(1) {
		padding-left: 50px;
	}
	tr:hover {
		background-color: #CCCCCC;
	}
}

.samples-container {
	ul {
		list-style: none;
		li {
			text-align: center;
		}
	}
}

.sample-content {
	text-align: justify;
}